@prefix:zi;
@dark-primary-color: #0097a7;
@primary-color: #00bcd4;
@light-primary-color: #b2ebf2;
@accent-color: #ffc107;
@primary-text: #212121;
@secondary-text: #757575;
@divider-color: #dbdbdb;
@normal-color: transparent;
@info-color: #81d4fa;
@succ-color: #2baf2b;
@warn-color: #fbc02d;
@error-color: #e51c23;
@btn-types: primary, normal, info, succ, warn, error;
@btn-colors: @primary-color, @normal-color, @info-color, @succ-color, @warn-color, @error-color;
@btn-font-colors: #fff, inherit, #fff, #fff, #fff, #fff;
.clear(){
    zoom: 1;
    &:after{
        content: " ";
        display: table;
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
        width: 0;
    }
}

.shadow(){
    box-shadow: 0 1px 3px darken(@divider-color, 20%);
    &:hover{
        box-shadow: 1 2px 4px darken(@divider-color, 50%);
    }
}
